html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
  }

/*my code*/

* {
  text-decoration: none;
}

main {
padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: Shrikhand;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
margin: 0 auto;
width: fit-content;
}

header nav ul li {
display: inline-block;
float: left;
list-style: none;
padding: 0 16px;
}

header nav ul li a {
  font-family: Fraunces;
  font-size: 16px;
  color: #111;
text-transform: uppercase;

}

header .header-cases {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header .header-brand {
  margin: 31px 0;
  text-align: left;
  line-height: 38px;
  padding: 0 20px 0 40px;
  border-right: 3px solid #111;
float: left;
}
header nav ul {
margin: 20px 0px 0px 20px;
float: left;
}


header nav ul li a {
line-height: 60px;
}
header .header-cases {
  display: block;
  font-family: Fraunces;
  font-size: 16px;
  color: #111;
  line-height: 38px;
text-transform: uppercase;
border: 1px solid #111;
float: right;
margin-right: 40px;
padding: 0px 20px;
margin-top: 30px;
}
}




/*INDEX*/

.index-banner {
width: 100%;
height: calc(100vh - 100px);
background-image: url('./dev.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Fraunces;
  font-size: 70px;
  color: #fff;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  text-shadow: 3px 3px 3px #6B0500;
}

.index-banner h1 {
  font-family: Fraunces;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  line-height: 45px;
  text-align: center;
  text-shadow: 4px 4px 4px #6B0500;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;

}

p {
  color: #111 ;
}
.index-links div  h3 {
  font-family: Fraunces;
  font-size: 28px;
  color: #111;
  font-weight: 500;
  line-height: 100px;
  text-align: center;
}

/*GALLERY*/
.gallery-links-h2 {
  font-family: Fraunces;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
}

.gallery-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-img {
  flex-basis: 300px;
  margin: 10px;
}

.gallery-img img {
width: 100%;
  margin: 10px;
}
@media only screen and (min-width: 1000px) {
  .wrapper {
   width: 1000px;
   margin: 0 auto;
    }
  .index-banner {
  height: 550px;
  }
  .index-banner h1 {
    display: block;
    width: 770px;
    margin: 0 auto;
  }
  .index-links {
  overflow: hidden;

  }
  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    float: left;
}
  .index-boxlink-square {
  width: calc(25% - 20px) !important;
  }
  .index-boxlink-rec {
  width: calc(50% - 20px) !important;
  }
  .index-links div  h3 {
    line-height: 230px;
  }
}

/*CASES*/

.cases-links .wrapper div {
  float: left;
  width: 230px;
  height: 230px;
  margin: 20px 10px 0px;
  background-color: #e3e3e3;
}

.cases-links {
overflow: hidden;
margin-bottom: 30px;
}

.cases-links h2 {
  font-family: Fraunces;
  font-size: 28px;
  color: #111;
  font-weight: 300;
  text-transform: uppercase;
}

.cases-links .wrapper p {
  padding-top: 45%;
  font-family: Fraunces;
  font-size: 20px;
  color: #111;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.case-banner {
  width: 1000px;
  margin: auto;
}

.case-banner .wrapper-b{
 display: table;
 background-color: #e3e3e3;
 width: 100%;
padding-bottom: 20px;

}

.case-banner h2 {
  font-family: Fraunces;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  color: #111;
}

.case-banner h1 {
    font-family: Fraunces;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #111;
  }

/*CASE*/

* {
  text-decoration: none;
}

.case-vid h2 {
  font-family: Fraunces;
  font-size: 28px;
  color: #111;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.case-vid article h3{
  font-family: Fraunces;
  font-size: 28px;
  color: #111;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.case-vid article p {
  font-family: Fraunces;
  font-size: 16px;
  color: #111;
  font-weight: 300;
line-height: 24px;
column-count: 3;
column-gap: 42px;
}

iframe {
padding-bottom: 30px;
display: block;
margin: 0 auto;

}

/*cASE2*/
* {
  text-decoration: none;
}

.case-vid h2 {
 font-family: Fraunces;
 font-size: 28px;
 color: #111;
 font-weight: 100;
 text-transform: uppercase;
 text-align: center;
 padding-bottom: 20px;
}

.case-vid article h3{
 font-family: Fraunces;
 font-size: 28px;
 color: #111;
 font-weight: 300;
 text-transform: uppercase;
 padding-bottom: 20px;
}

.case-vid article p {
 font-family: Fraunces;
 font-size: 16px;
 color: #111;
 font-weight: 300;
line-height: 24px;
column-count: 3;
column-gap: 42px;
}

iframe {
  display: block;
  margin: 0 auto;
}

 /*FOOTER*/

 footer {
   width: calc(100% - 80px);
   padding: 40px 40px;
    margin-top: 20px;
   background-color:#000;
   overflow: hidden;
 }

 footer ul {
   width: fit-content;
   float: left;
   padding-left: 20PX;
 }

 footer ul li {
  font-family: Fraunces;
   display: block;
   list-style: none;
   color: #f2f2f2;
   font-weight: 60px;
   font-size: 24px;
   line-height: 50px;
 }

 footer ul li a {
color: #f2f2f2;
}

.footer-links-cases {
  display: none;
  float: right;
}

.footer-sm {
  width: 80px;
  float: right;
}
.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .footer-links-cases {
    display: block;
    float:left;
  }
  footer ul {
    padding-right: 40px;
  }

  .index-banner h2 {
    font-size: 40px;
  }

}

@media only screen and (max-width: 535px) {

  .footer-sm {
    clear: both;
    width: unset;
    float: unset;
    display: flex;
  }
  
  .insta {
    padding-top: 14px;
  }
}
@media only screen and (max-width: 535px) {

  .cases-links {
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    }
    

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
}
@media only screen and (max-width: 1000px) {
  .case-banner {
    width: unset;
    margin: auto;
  }
}

.about-me {
    font-family: Fraunces;
  font-size: 28px;
  color: #111;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.about-me p {
    font-family: Fraunces;
 font-size: 16px;
 color: #111;
 font-weight: 300;
line-height: 24px;
padding-top: 30px;
}

.me {
   width: 30%;
}